.App {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(90deg, #002F52, #326589);
}

.App-header {
    background-color: #fff;
    display: flex;
    /* Alinha o conteúdo de todos os itens do Menu no centro */
    justify-content: center;
}

li {
    /* Tira a bolinha do item da lista */
    list-style: none;
}



